@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
