@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-center {
  text-align: center;
}
